<!DOCTYPE html>
  <head>
    <title>Driver Reward System</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>  
  <body>
    <header>Driver Reward System</header>
    <div class="centerForm">
        <h2>Login</h2>
        <label>Username</label>
        <input type="text" name="username"/><br/>
        <label>Password</label>
        <input type="password" name="password"/><br/><br/>
        <input type="submit" value="Login"/>
    </div>
  </body>
</html>